In [6]:
#import data into pandas dataframe

#add matplot lib inline magic command
%matplotlib inline

#import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#read csv files into dataframe
city_data_df=pd.read_csv("Resources/city_data.csv")
ride_data_df=pd.read_csv("Resources/ride_data.csv")

In [42]:
#merge dataframes

#before merging, the dataframes need to be inspected to ensure there is no incorrect data

#city_data_df
#get all rows that are not null
city_data_df.count()
city_data_df.isnull().sum()

#make sure driver_count column in the city_data_df has an integer data type
#gets Data Type (dtype) for only the driver_count column:
#city_data_df["driver_count"].dtypes
#gets data types for all columns
city_data_df.dtypes

#find out how many data points there are for each type of city
city_types=city_data_df["type"].unique()
print(city_types)
city_type_size={}
for itype in city_types:
    city_type_size[itype]=sum(city_data_df["type"]==itype)
city_type_size

['Urban' 'Suburban' 'Rural']

{'Urban': 66, 'Suburban': 36, 'Rural': 18}

In [48]:
#inspect ride data dataframe
#get rows that contain null values
ride_data_df.isnull().sum()

#make sure the fare and ride id columns are numberical data types
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [53]:
#merge the dataframes. both data frames contain a city column, so merge them on city

#combine data into a single dataset
pyber_data_df=pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

#display dataframe
pyber_data_df

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban
...,...,...,...,...,...,...
2370,Michaelberg,2019-04-29 17:04:39,13.38,8550365057598,6,Rural
2371,Lake Latoyabury,2019-01-30 00:05:47,20.76,9018727594352,2,Rural
2372,North Jaime,2019-02-10 21:03:50,11.11,2781339863778,1,Rural
2373,West Heather,2019-05-07 19:22:15,44.94,4256853490277,4,Rural
2374,Newtonview,2019-04-25 10:20:13,55.84,9990581345298,1,Rural

In [60]:
#merge the dataframes. both data frames contain a city column, so merge them on city

#combine data into a single dataset
pyber_data_df=pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

#display dataframe
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban